header{
    background-image: url("../img/Fondo_abs_Azul.jpg");
    background-size: cover;
}

header img{
    display:inline-flexbox;
    margin:left;
    margin: 1em;
    position:relative;
}

header ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(235, 219, 5);
    position: absolute;
    top: 5px;
    left: 200px;
}

header ul li i{
    padding-block: 5px;
    font-size: 30px;
    color:white;
}

body{
    font-family:'Source Code Pro', monospace;
    font-size:medium;
    background-color: white;
    font-size: 20px;
}

h2{
    background-color: rgb(206, 229, 245);
    display:block;
    margin:auto;
    text-transform: capitalize;
}

dd {
    margin-left: 130px;
}

footer{
    background-image: url("../img/Fondo_abs_Azul.jpg");
    background-position: center;
    background-size: cover;
    font-family:'Exo', sans-serif;
    font-weight:bold;
    Color: rgb(15, 1, 1);
    font-size: 20px;
    text-align: center;
}

.fa-linkedin{
    font-size: 50px;
    padding-right: 30px;
}

.fa-instagram-square{
    font-size: 50px;
}
