.fa-dove{
    background-color: khaki;
    color: rgb(223, 71, 223);
    font-size: 200px;
    border-radius: 50%;

}

.fa-google-pay{
    background-color: rgb(224, 238, 26);
    color: rgb(16, 225, 240);
    font-size: 300px;
    border-radius: 50%;
}