.ofertas{
    background-color: #222222;
    color: white;
    justify-content: space-between;

}

header .ofertas > nav{
    display: inline-block;
}

header .ofertas > nav > ul > li{
    display: inline-block;
}

header .catDog{
    background-color: #F0A83E;
    color: white;

}

header .catDog > nav{
    display: inline-block;
}

header .catDog > nav > ul > li{
    display: inline-block;
}

.banner{
    background-image: url("../img/comida_perro.png");
    background-repeat: no-repeat;
    height: 409px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.banner>div{
    justify-content: space-between;
}

.productosDestacados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productosDestacados > img{
    color: #F0A83E;
    font-size: 50px;
}

.productosDestacados nav>ul>{
    flex-direction: column;
}

.tarjetasDeProductos > div{
    display: inline-block;
    padding: 10px;
    align-items: center;

}